body {
    padding: 10px;
}

.listing-list {
    margin: 10px;
    padding: 40px;
    border-top-style: solid;
    border-top-color: rgb(84, 79, 79);
}

.img-thumbnail {
    max-inline-size: 33%;
    display: inline-block;
    padding: 10px;
}

.price-list {
    display: inline-block;
    align-self: right;
    padding: 100px;
}

.listing-link {
    color: black;
    text-decoration: none;
}