{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<h2>Active Listings</h2>

{% for listing in listings %}
<div class="listing-list">
    <a href="{% url 'listing' listing.title %}">
        <h3 class="listing-link">{{ listing.title }}</h3>
    </a>
    <h6>Listed by {{ listing.user.username }}</h6>
    <img class="img-thumbnail" src="{{ listing.image.url }}" alt="{{ listing.title }}">
    <div class="price-list">
        <h4>Current price: ${{ listing.price }}</h4>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}