{% extends 'auctions/layout.html' %}

{% block body %}
<h1>{{ listing.title }}</h1>
<h3>Current bid: ${{ listing.price }}</h3>
<div>
    <img class="img-thumbnail" src="{{ listing.image.url }}">
</div>
<div>
    <p>
        {{ listing.description }}
    </p>
</div>
<div>
    <p>
        Category: {{ listing.category }}
    </p>
</div>
{% if not added %}
<div>
    <a href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
</div>
{% else %}
<div>
    <a href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
</div>
{% endif %}
{% if user == listing.user %}
<button>Delete Listing</button>
{% else %}
<button>Place Bid</button>
<a href="{% url 'add_comment' listing.title %}">Add Comment</a>
{% endif %}
{% for comment in comments %}
{{ comment.content }}
{% endfor %}
{% endblock %}