{% extends 'auctions/layout.html' %}

{% block body %}
{% if request.user == listing.highest_bidder %}
{% if listing.closed == True %}
<h1><em>You Have Won!</em></h1>
{% endif %}
{% endif %}
<h1>{{ listing.title }}</h1>
<h3>Current bid: ${{ listing.price }}</h3>
<h6>{{ listing.highest_bidder }} is the highest bidder</h6>
<div>
    <img class="img-thumbnail" src="{{ listing.image.url }}">
</div>
<div>
    <p>
        {{ listing.description }}
    </p>
</div>
<div>
    <p>
        Category: {{ listing.category }}
    </p>
</div>
{% if not added %}
<div>
    <a href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
</div>
{% else %}
<div>
    <a href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
</div>
{% endif %}
{% if user == listing.user %}
{% if listing.closed == False %}
<a href="{% url 'close_listing' listing.title %}">Close Listing</a>
{% else %}
<h3>Listing Closed</h3>
{% endif %}
{% else %}
{% if listing.closed == True %}
<h3>Listing Closed</h3>
{% else %}
<a href="{% url 'add_bid' listing.title %}">Place Bid</a>
<a href="{% url 'add_comment' listing.title %}">Add Comment</a>
{% endif %}
{% endif %}
{% for comment in comments %}
<div>
    {{ comment.content }}
</div>
{% endfor %}
{% endblock %}