div {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

a {
    color: #6B6665;
}

.search {
    border-radius: 40px;
    min-block-size: 50%;
    width: 50%;
    height: 50px;
    padding-inline-start: 25px;
}

.logo {
    text-align: center;
    font-size: 800%;
    font-family: Arial, Helvetica, sans-serif
}