{% extends "encyclopedia/layout.html" %}

{% block body %}
<style>
    .error {
        background-color: rgb(218, 110, 110);
        padding: 10px;
    }
</style>
<h1>New Entry</h1>
<form action="{% url 'encylopedia:new' %}" method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="error">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div>
        <input type="text" name="title" placeholder="Title">
    </div>
    <div>
        <textarea name="content" placeholder="Enter Markdown text here"></textarea>
    </div>
    <button type="submit">Save</button>
</form>
{% endblock %}